<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Cart Item Directory</title>
</head>

<body>
<div class="col" layout:fragment="content">
    <div class="container">
        <h4>Total orders: <b th:text="${orders.size()}"></b></h4>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Order id</th>
                <th>Product ID</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="tempOrder : ${orders}">
                <td th:text="${tempOrder.order.id}" />
                <td th:text="${tempOrder.product.id}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>


