<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
	<title>Shopping Cart</title>
</head>

<body>
<div class="col" layout:fragment="content">
		<div class="row" style="margin-top: 10px;">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-6 text-left">
						<a class="btn btn-dark" th:href="@{/home/index}">Continue
							Shopping</a>
					</div>
					&nbsp;
					<div class="col-xs-6 text-right">
						<a class="btn btn-dark"
							th:href="@{/checkout(id=${shoppingCart.id})}">Check Out</a>
					</div>
					&nbsp;
					<div class="col-xs-6 text-right">
						<h4 >
							<strong style="font-size: large;">Total Price (<span
									th:text="${#lists.size(cartItemList)}"></span> items):
							</strong> <span style="color: #db3208; font-szie: large;">$<span
								th:text="${shoppingCart.grandTotal}"></span></span>
						</h4>
					</div>
					<br />
					<br />
					<div th:if="${emptyCart}" class="alert alert-warning">Oops,
						your cart is empty. See if you can find what you like in the
						products and add them to cart.</div>

					<br /> <br />

				<!--**************** display products in cart ****************-->
				<div class="container">
					<div class="row" th:each="cartItem : ${cartItemList}">
						<form th:action="@{/shoppingCart/updateCartItem}" method="post">
							<div class="col-xs-6">
								<img th:src="@{https://res.cloudinary.com/dta94lqkr/image/upload/c_scale,h_80,w_140/__${cartItem.product.imageURL}__}">
								<div style="margin-left:50px;">
								<a th:href="@{/products/product/}+${cartItem.product.id}"><h4 th:text="${cartItem.product.name}"></h4></a>
								<a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}" class="btn btn-dark">Delete</a>
								</div>
							</div>

							<div class="col-xs-2">
								<h5 style="color: #db3208; font-size: large;">
									$<span th:text="${cartItem.product.price}"></span>
								</h5>
							</div>

							<div class="col-xs-2">
								<input hidden="hidden" name="id" th:value="${cartItem.id}" /> <input
									th:id="${cartItem.id}" th:name="qty"  class="form-control cartItemQty" th:value="${cartItem.qty}" />
								<button style="display: none;"
										th:id="'update-item-'+${cartItem.id}" type="submit"
										class="btn btn-warning btn-xs">Update</button>
							</div>

						</form>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->
</div>
</body>
</html>
