<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Product Directory</title>
</head>

<body>
<div class="col" layout:fragment="content">
    <div class="container">
    <h4>Total products: <b th:text="${products.size()}"></b></h4>

        <!-- Add a button -->
        <a th:href="@{/products/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Product
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempProduct : ${products}">
            <td th:text="${tempProduct.name}" />
            <td th:text="${tempProduct.price}" />
            <td th:text="${tempProduct.unit}" />
            <td th:text="${tempProduct.category.getName()}" />
            <td>
                <a th:href="@{/products/product/__${tempProduct.id}__}"
                   class="btn btn-dark btn-sm mb-3">
                    Show
                </a>
                <a th:href="@{/products/showFormForUpdate/__${tempProduct.id}__}"
                   class="btn btn-dark btn-sm mb-3">
                    Update
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>


