<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}" xmlns:c="http://xmlns.jcp.org/xml/ns/javaee">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <c:url value="/css/product_page.css" var="exampleCsss" />
    <link href="${exampleCss}" rel="stylesheet" />

    <title>Product Page</title>
</head>
<body>
<div class="col" layout:fragment="content">
<div class="container">
    <h2>Product Details</h2>
    <div class="formContent">
        <form th:action="@{/shoppingCart/addItem}" method="post">
            <input hidden="hidden" th:field="*{product.id}" />
            <div class="item-container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product col-md-3 service-image-left">

                            <center>
                                <br><br>
                                <img id="item-display" th:src="@{https://res.cloudinary.com/dta94lqkr/image/upload/c_scale,h_140,w_235/__${product.imageURL}__}" alt=""></img>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2 class="product-title font-weight-bold" th:text="${product.name}"></h2>
                        <hr>
                        <h4 class="product-price font-weight-bold" th:text="'Price: $' + ${product.price}">
                        </h4>
                        <h4 class="product-unit font-weight-bold" th:text="'Unit: ' + ${product.unit}">
                        </h4>
                        <h4 class="product-category font-weight-bold" th:text="'Category: ' + ${product.category.name}">
                        </h4>
                        <hr>
                        <div class="btn-group wishlist">
                            <input type="number" id="qty" name="qty" class="form-control" placeholder="Quantity" required>
                        </div>
                        <div class="btn-group cart">
                            <button type="submit" class="btn btn-secondary" style="color:black;border:1px solid black; padding: 10px 40px 10px 40px;">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>