<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Product</title>
</head>

<body>
<div class="col" layout:fragment="content">
<div class="container">

    <p class="h4 mb-4">Save Product</p>

    <form action="#" th:action="@{/products/save}"
          th:object="${product}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Product name">

        <input type="text" th:field="*{price}"
               class="form-control mb-4 col-4" placeholder="Price">

        <input type="text" th:field="*{unit}"
               class="form-control mb-4 col-4" placeholder="Unit">

        <input type="text" th:field="*{quantity}"
               class="form-control mb-4 col-4" placeholder="Quantity">

        <select th:field="*{category}"
                required="required" class="form-control">

            <option th:each="category: ${categoryList}" th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/products/list}">Back to Products List</a>

</div>
</div>
</body>

</html>

