<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="wrapper">
    <h2 class="text-center">Welcome in Webshop!</h2>
    <h4 class="text-center">Account is required to continue using the service.</h4>
    <br>
    <div class="formContent">
    <form class="form-horizontal" role="form" method="POST" th:action="@{/signup}" th:object="${user}">
            <div class="formHeader">
                <h1 class="h3 mb-3 font-weight-normal"><b>Sign up</b></h1>
            </div>
            <div class="panel panel-default form-login">
                <br><br>
                <div class="panel-body">
                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                        </div>
                <label for="username" class="sr-only"></label>
                <input type="text" th:field="*{username}" class="form-control username text-center" id="username"
                        placeholder="Username" required autofocus>
                    <label for="password" class="sr-only"></label>
                    <input type="password" th:field="*{password}" class="form-control password text-center" id="password"
                    placeholder="Password" required>
                    <div class="form-control-feedback">
                        <a class="text-danger align-middle" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                        </a>
                    </div>
                    <div class="form-control-feedback">
                                 <a class="text-danger align-middle" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                 </a>
                    </div>
                    <button type="submit" class="btn btn-dark">Register</button>
            </div>
            </div>
    </form>
        <div class="formFooter">
            You have an account?
            <br>
            <a class="underlineHover" th:href="@{/login}">Log in</a>
        </div>
    </div>
</div>
</body>
</html>