<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3" layout:fragment="sidebar">
            <h1 class="my-4">Categories</h1>
            <div class="list-group" th:each="category: ${categories}" >
                <a th:text="${category.name}" class="list-group-item"></a>
            </div>
        </div>
        <div class="col-lg-9" layout:fragment="content">
            <h3>Nice to see you <span th:text="${username}"></span>!</h3>
                <h4>Great offers!</h4>

            <div class="row">
                <tr th:each="tempProduct : ${products}">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a th:href="@{/products/product/__${tempProduct.id}__}"><img class="card-img-top" th:src="@{https://res.cloudinary.com/dta94lqkr/image/upload/c_scale,h_400,w_650/__${tempProduct.imageURL}__}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a th:href="@{/products/product/__${tempProduct.id}__}" th:text="${tempProduct.name}"></a>
                                </h4>
                                <h5 th:text="@{__${tempProduct.price}__ $}"></h5>
                            </div>

                        </div>
                    </div>
                </tr>
            </div>
            <div th:if="${boughtProduct != null && productsYouMayAlsoLike != null }">
                <div class="container">
                    <h4>Because you bought <a th:href="@{/products/product/__${boughtProduct.id}__}" th:text="${boughtProduct.name}" /> you may also like: </h4>
                    <br>
                    <div class="row">
                    <tr th:each="userLikesProduct : ${productsYouMayAlsoLike}">
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a th:href="@{/products/product/__${userLikesProduct.getId()}__}"><img class="card-img-top" th:src="@{https://res.cloudinary.com/dta94lqkr/image/upload/c_scale,h_400,w_650/__${userLikesProduct.imageURL}__}" width="150" /></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a th:href="@{/products/product/__${userLikesProduct.getId()}__}" th:text="${userLikesProduct.name}"></a>
                                    </h4>
                                    <h5 th:text="@{__${userLikesProduct.price}__ $}"></h5>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
